.link-item{
    text-decoration: none;
    color: black;
    margin-top: 30px;
    margin: 20px;
    font-size: 20px;
    font-weight: 500;
padding: 10px;
align-items: center;

}
.link-item:hover{
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: rgba(173, 216, 230, 0.377);
}
.name{
    color: hsl(152deg 68% 52%);
    font-size: 40px;
}


.btn-margin{
    margin-left: 450px;
}

.bg{
    background-color: rgb(29, 0, 77);
}